asn1crypto==0.24.0
attrs==19.1.0
certifi==2019.9.11
cffi==1.12.3
chardet==3.0.4
Click==7.0
cryptography==3.3.2
Flask==1.1.1
Flask-Session==0.3.1
idna==2.8
itsdangerous==1.1.0
jellyfish==0.7.2
Jinja2==2.10.1
lib50==2.0.0
MarkupSafe==1.1.1
pexpect==4.7.0
psycopg2-binary==2.8.3
ptyprocess==0.6.0
pycparser==2.19
PyYAML==5.1.2
requests==2.22.0
six==1.12.0
SQLAlchemy==1.3.8
submit50==3.0.2
termcolor==1.1.0
urllib3==1.25.6
Werkzeug==0.16.0
