{% extends "layout.html" %}
{% block title %}Glow Worm Home{% endblock %}
{% block body %}
    <ul class="nav justify-content-end">
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('login') }}">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('register') }}">Register</a>
        </li>
    </ul>
    <div class="jumbotron jumbotron-fluid text-center">
        <h1 class="display-3">Glow Worm Book Reviews</h1>
        <p class="lead">Do you glow?</p>
    </div>
{% endblock %}
